*{
    background-color: rgb(239, 221, 255);
    margin: 0;
}

h1,h2,p,code{
    margin: 10px;
}

body{
    width: 80%;
    margin: auto;
}
.header{
    border: 1px solid;
}

.header img{
    width: 20%;
    float:right;
}

.header ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
}
.header li {
    padding: 5px;
}

.Contacts{
    border: 1px solid;
}
.AboutMe{
    border: 1px solid;
}
.Skills{
    border: 1px solid;
}
.CodeExamples{
    border: 1px solid;
}
.Education{
    border: 1px solid;
}
.Language{
    border: 1px solid;
}
.footer {
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer p{
    font-size: 200%;
}

.linkGitHub img{
    box-sizing: border-box;
    width: 50%;
}
.rs_school {
    width: 10%;
    height: 10%;
}


.header li{
    list-style-type: none;
    box-sizing: content-box;
    margin: 10px;
}

